body {
  margin: 0;
}

.image {
  width: 100%;
  height: 100vh;
  // clip-path: polygon(38% 0, 100% 62%, 100% 100%, 0 62%);
  // clip-path: circle(50% at 25% 25%);
  // clip-path: ellipse(122px 155px at 42% 50%);
}

.banner {
  width: 100%;
  height: 450px;
  background: url("../img/nike-aplle.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.menu {
  width: 100%;
  height: 70px;
  display: flex;

  &__item {
    height: 100%;
    flex: 1;
    background: rgba(204, 236, 107, 0.8);
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: 0.4s ease-in;
    cursor: pointer;

    &:hover {
      clip-path: polygon(0 0, 40% 0, 50% 35%, 60% 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

.flipcard {
  position: relative;
  width: 250px;
  height: 350px;
  cursor: pointer;
  perspective: 500px;

  .card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.3rem;
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    transition: .5s;    
  }

  .front {
    background-color: blue;
  }

  .back {
    background-color: green;
    transform: rotateY(180deg);
  }

  &:hover .front {
    transform: rotateY(-180deg);
  }

  &:hover .back{
    transform: rotateY(0);
  }
}
